<!-- <%= form_tag('/auth/developer', method: 'post', data: {turbo: false}) do %> -->
<!--   <button type='submit'>Login with Developer</button> -->
<!-- <% end %> -->
<%= form_tag('/auth/twitter2', method: 'post', data: {turbo: false}) do %>
  <button type="submit" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Login with Twitter</button>
<% end %>
